section {
    display: flex;
    flex-direction: column;
    width: 300px;
}

section .header-favorit {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #34d;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 18px
}

section .header-favorit p {
    margin: 0;
}

section .body-favorit {
    width: 100%;
    border-left: 1px solid;
    border-bottom: 1px solid;
}

section .body-favorit p {
    margin-left: 10px;
    margin-top: 10px;
}