.home-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.home-container .search {
    display: flex;
    width: 100%;
    min-height: 100%;
    justify-content: center;
}

.home-container .favorites {
    width: 300px;
    min-height: 100%;
}